<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>PPI V2</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="top" class="row">
        <div class="col-md-12">
            <a href="#" th:href="@{/grade/new}" class="btn btn-primary pull-right h2">Nova Aula</a>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(grades)}">
        <h2>Lista de Aulas</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Estudante</th>
                <th>Carro</th>
                <th>Instrutor</th>
                <th>Visualizar</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            <tr th:each="grade : ${grades}">
                <td th:text="${grade.id}"><a href="/grade/${grade.id}">Id</a></td>
                <td th:text="${grade.student.name}">Estudante</td>
                <td th:text="${grade.car.model}">Carro</td>
                <td th:text="${grade.instructor.name}">Instrutor</td>
                <td><a th:href="${'/grade/' + grade.id}">Visualizar</a></td>
                <td><a th:href="${'/grade/edit/' + grade.id}">Editar</a></td>
                <td><a th:href="${'/grade/delete/' + grade.id}">Deletar</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>